.buttons-header {
    font-weight: bold;
    color: rgb(209 213 219 );
    font-size: 18px;
    font-family: "K2D", sans-serif;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}